<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CommondPath" value="" />

    <add key="Mode" value="cui" />
    <add key="LogType" value="iis_w3c" />
    <add key="AccessLog" value="" />
    <add key="OutDir" value="" />
    <add key="ReportType" value="html" />
    <add key="Level" value="detail" />

    <add key="From" value="" />
    <add key="To" value="" />
    <add key="Subject" value="ログログ" />
    <add key="body" value="こんにちは" />
    <add key="SMTPHost" value="" />

    <add key="ErrorTo" value="" />
    <add key="Errorfrom" value="" />
  </appSettings>    
  
</configuration>